<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-stats">
        <div id="populationWeather" style="display: flex; justify-content: center"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats">
        <div id="co2PerHeadPerYear" style="display: flex; justify-content: center"></div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats">
        <div id="co2PerHeadPerYearPerCountry" style="display: flex; justify-content: center"></div>
      </div>
    </div>
  </div>
</div>
