<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="" alt="...">
            <h5 class="title">Robin VC</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          Test
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="" alt="...">
            <h5 class="title">Alexander E</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          Test
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="" alt="...">
            <h5 class="title">Joshua R</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          test
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="" alt="...">
            <h5 class="title">Mauritz L</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          test
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="" alt="...">
            <h5 class="title">Armann G</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          test
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
        </div>
      </div>
    </div>
  </div>
</div>
