<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card" style="min-height: 200px">
        <div class="container-fluid">
          <p style="font-size: 20px; font-weight: bold">Durchschnittliche Temperatur um 2050</p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Weltweit:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">16,81°C (+2,603°C)</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Deutschland:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">12,5°C (+3,481°C)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <p style="font-size: 20px; font-weight: bold">Nice to know:</p>
          <p style="font-size: 15px">- Um den Klimawandel aufzuhalten dürfte jeder Mensch pro Jahr nur 0.6 Tonnen CO2 verbrauchen. (Deutschland 2020: 7,6 Tonnen)</p>
          <p style="font-size: 15px">- Die EU-Umweltminister hat am 29.6.2022 beschlossen, dass ab 2035 nur noch klimaneutrale Neuwagen verkauft werden dürfen.</p>
          <p style="font-size: 15px">- Ziel des Paris-Klimaabkommens ist, die Erderwärmung auf maximal 2 und möglichst 1,5°C zu begrenzen.</p>
          <p style="font-size: 15px">- 19 der 20 wärmsten Jahre überhaupt traten nach dem Jahr 2000 auf.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <p style="font-size: 20px; font-weight: bold">Ausgestoßenes Co2 von 2001 bis 2021:</p>
            </div>
          </div>
          <div class="row" style="padding-top: 40px">
            <div class="col-lg-12 col-md-12">
              <p style="color: #1e74de; font-size: 30px; text-align: center">208,7 Tonnen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <p style="font-size: 20px; font-weight: bold">C02 was wir bis zum Alter von 75 ausstoßen:</p>
            </div>
          </div>
          <div class="row" style="padding-top: 40px">
            <div class="col-lg-12 col-md-12">
              <p style="color: #1e74de; font-size: 30px; text-align: center">422,9 Tonnen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <p style="font-size: 20px; font-weight: bold">Wie oft kann man von Bocholt nach Münster fahren:</p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">2001 bis 2021:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">12.275 Mal</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Bis zum Alter von 75:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">24.879 Mal</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-stats">
        Hier kommt das Diagramm mit der Temperaturveränderung in den Ländern rein
      </div>
    </div>
  </div>
</div>
