<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-stats">
        <div id="drawErgebnis" style="display: flex; justify-content: center"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <p style="font-size: 20px; font-weight: bold">19 der wärmsten Jahre</p>
            </div>
          </div>
          <div class="row" style="padding-top: 40px">
            <div class="col-lg-12 col-md-12">
              <p style="color: #1e74de; font-size: 30px; text-align: center"><mat-icon>local_fire_department</mat-icon> fanden nach 2000 statt</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card" style="min-height: 200px">
        <div class="container-fluid">
          <p style="font-size: 20px; font-weight: bold">Durchschnittliche Temperatur um 2050</p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Weltweit:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                      <img src="assets/img/img_1.png">

                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Deutschland:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <img src="assets/img/img.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <p style="font-size: 20px; font-weight: bold">C02 Verbrauch pro Jahr pro Person um Klimawandel zu stoppen</p>
            </div>
          </div>
          <div class="row" style="padding-top: 40px">
            <div class="col-lg-12 col-md-12">
              <p style="color: #1e74de; font-size: 30px; text-align: center">0,6 Tonnen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <p style="font-size: 20px; font-weight: bold">Wie oft kann man von Bocholt nach Münster fahren:</p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Bocholt:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">45 Mal</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Münster</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">40 Mal</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <p style="font-size: 20px; font-weight: bold">C02 Verbrauch pro Kopf zurzeit</p>
            </div>
          </div>
          <div class="row" style="padding-top: 40px">
            <div class="col-lg-12 col-md-12">
              <p style="color: #1e74de; font-size: 30px; text-align: center">7,6 Tonnen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <p style="font-size: 20px; font-weight: bold">Wie oft kann man nach Bocholt und nach Münster fahren:</p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Bocholt:</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">570 Mal</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Münster</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">506 Mal</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <p style="font-size: 20px; font-weight: bold">keine neuen Verbrenner auf dem Markt (außer E-Fuels)</p>
            </div>
          </div>
          <div class="row" style="padding-top: 40px">
            <div class="col-lg-12 col-md-12">
              <p style="color: #1e74de; font-size: 30px; text-align: center">ab 2035</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <p style="font-size: 20px; font-weight: bold">Erneuerbare Energie</p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Produzierte Erneuerbare Energie</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">217,2 TWh</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Versogrbare Elektroautos</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">ca. 108 Mio</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <p style="font-size: 20px; font-weight: bold">Wasserverbrauch pro Kopf</p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Deutschland</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">47,8 m<sup>3</sup></p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Libanon</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">15,3 m<sup>3</sup></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <p style="font-size: 20px; font-weight: bold">10 min Dusche</p>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Deutschland</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">318 mal</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="font-size: 20px; text-align: center">Libanon</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">106 mal</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="col-lg-12 col-sm-12">
    <div class="card card-stats" style="min-height: 200px">
      <div class="container-fluid">
        <p style="font-size: 20px; font-weight: bold">Nice to know:</p>
        <div class="col-lg-6 col-md-12">
          <div class="card card-stats" style="min-height: 200px">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <p style="font-size: 20px; font-weight: bold">C02 pro Jahr Verbrauch um Klimawandel zu stoppen</p>
                </div>
              </div>
              <div class="row" style="padding-top: 40px">
                <div class="col-lg-12 col-md-12">
                  <p style="color: #1e74de; font-size: 30px; text-align: center">422,9 Tonnen</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p style="font-size: 15px">- Ziel des Paris-Klimaabkommens ist, die Erderwärmung auf maximal 2 und möglichst 1,5°C zu begrenzen.</p>
        <p style="font-size: 15px">- 19 der 20 wärmsten Jahre überhaupt traten nach dem Jahr 2000 auf.</p>
      </div>
    </div>
  </div>
    <div class="col-lg-6 col-md-12">
      <div class="card card-stats" style="min-height: 200px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <p style="font-size: 20px; font-weight: bold">Ausgestoßenes Co2 von 2001 bis 2021:</p>
            </div>
          </div>
          <div class="row" style="padding-top: 40px">
            <div class="col-lg-12 col-md-12">
              <p style="color: #1e74de; font-size: 30px; text-align: center">208,7 Tonnen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
