
<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-normal">
      Climate Dashboard
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-4">
                    <mat-icon style="text-align: end">{{menuItem.icon}}</mat-icon>
                  </div>
                  <div class="col-sm-8">
                    <p>{{menuItem.title}}</p>
                  </div>
                </div>
              </div>
            </a>
        </li>
    </ul>
</div>
