
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo.png">
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <mat-icon style="text-align: end">{{menuItem.icon}}</mat-icon>
                  </div>
                  <div class="col-md-8">
                    <p>{{menuItem.title}}</p>
                  </div>
                </div>
              </div>
            </a>
        </li>
    </ul>
</div>
