<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-stats">Moin</div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="card card-stats" style="height: 850px">
        <div id="vizContainer" style="display: flex; justify-content: center"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-6">
      <div class="card card-stats">Moin</div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-stats">Tach</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card card-stats">Moin</div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-stats">Tach</div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-stats">Hallo</div>
    </div>
  </div>
</div>
